.event-result{
border-left: 5px teal;
}

.event-name{
font-family: 'Droid Serif', serif;
font-size: 26px;
}

.event-date{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}

.event-location{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
}