/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {

    overflow: hidden;
}
#appWrap {
	height: 100%;
	width: 100%;
}
#timelineWrap {
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    padding: 20px;
	border: solid 1px #000000;
}
#timelineContent {
	position: absolute;
	margin: auto;
	width: 90%;
	top: 0px;
	bottom: 150px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: solid 1px #CCCCCC;
}

#timelineNav {
	position: absolute;
	width: 90%;
	height: 100px;
	bottom: 25px;
	margin: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: solid 2px #CCCCCC;
	text-align: center;
	overflow: hidden;
}

#timelineImgWrapper {
	position: absolute;

	height: 100%;
	width: 100%;

}

#timelineImg {
	position: absolute;
	height: 100%;

	background-image: url("../images/timeline_background.jpg");
}

#timelineImg .tlLabels {
	position: absolute;
	top: 20px;
	left:100px;
}


#timelineImg .tlMarkers {
	position: absolute;
	top: 67px;
	left: 120px;
}

#timelineImg .tlLabels p {
	display: inline-block;
	//padding: 0 55px 0 55px;
	width: 200px;
	font-size: 30px;
	font-weight: bold;
	color: #999999;
}

#slider {
	position: absolute;
	height: 100%;
	width: 5px;
	background-color: green;
	display: inline-block;
	margin: auto;
	text-align: center;
}

.zoom {
	position: relative;
	top: 0px;
	width: 30px;
	height: 30px;
	margin: 5px;
	padding: 5px;
	background-color: #999999;

	cursor: pointer;
}

#timelineImg .tlMarkers .marker {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: white;
	display: inline-block;
	cursor: pointer;
}
#timelineImg .tlMarkers .marker .markerHover{
	position: relative;
	bottom: 10px;
	left: 10px;
	height: 10px;
	width: 90px;
	background-color: #AAAAAA;
}