.navBar{
	background-color: #d72c3f;
	height: 45px;
}

.navBar h3{
	font-family:'Text Me One', sans-serif;
	color: #fff;
}

.navBar ul li {
	vertical-align: top;
	padding-right: 20px;
	display: inline-block;
	font-size: 40px;
	width: 500px;
	height: 45px;
	max-width: 200px;
	overflow: hidden;
}

.navBar ul li:hover {
	cursor: pointer;
}

.navBar ul li span {
	display: inline-block;
	font-size: 30px;
	margin-left: 40px;
}

.calendar {
	background-color: #FB5500;
}

.nights {
	background-color: #A3C8D1;
}

.logout {
	background-color: #C74948;
}

div.hideMe {
	display:none;
}
	