.navBar{
	background-color: #d72c3f;
}

.navBar h3{
	font-family:'Text Me One', sans-serif;
	color: #fff;
}

.navBar ul li h3, .navBar ul li {
	padding-right: 20px;
	display: inline-block;
	font-size: 40px;
}